# Local
.DS_Store
*.local
*.log*

# Environment files
.env
.env.production
.env.development
!.env.example
!.env.*.example

# Dist
node_modules/
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
